SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
APP_MODE=shop
SHOP_URL=https://webora-shop.vercel.app
ADMIN_URL=https://webora-shop-admin.vercel.app
PIX_KEY=63371209000181
PIX_RECEIVER=WEBORA
PIX_CITY=SAO PAULO
